@{
    ViewData["Title"] = "Come funziona";
}
<h1 id="Contatti" style="margin-top: 0.5em;">
    Come funziona
</h1>

<div>
    @* -------------CARD ORINZONTALI------------ *@
    <div>
        <card class="card shadow my-2 align-self-stretch" style="min-width: 65em; color: #305580;">
            <div class="card-body" style="text-align: center;">
                <h3 class="card-title"><strong>Step 1: Registrati!</strong></h3>
                <p class="card-text" style="font-size: 24px;">
                    Fai la registrazione ed accedi alla tua pagina personale.
                </p>
            </div>
        </card>

        @* --Freccia giù-- *@
        <i class="fa-solid fa-arrow-down d-flex justify-content-center" style="font-size: 3em;"></i>

        <card class="card shadow my-2 align-self-stretch" style="min-width: 65em; color: #305580;">
            <div class="card-body" style="text-align: center;">
                <h3 class="card-title"><strong>Step 2: Prenota la visita!</strong></h3>
                <p class="card-text" style="font-size: 24px;">
                    Fai la prenotazione della tua visita scegliendo la sede.
                </p>
            </div>
        </card>

        @* --Freccia giù-- *@
        <i class="fa-solid fa-arrow-down d-flex justify-content-center" style="font-size: 3em;"></i>

        <card class="card shadow my-2 align-self-stretch" style="min-width: 65em; color: #305580;">
            <div class="card-body" style="text-align: center;">
                <h3 class="card-title"><strong>Step 3: Segreteria!</strong></h3>
                <p class="card-text" style="font-size: 24px;">
                    La segreteria si occuperà di assegnarti un medico ed anche il giorno e l'orario della visita!
                </p>
            </div>
        </card>
    </div>

    @* --Freccia giù-- *@
    <i class="fa-solid fa-arrow-down d-flex justify-content-center" style="font-size: 3em;"></i>

    <card class="card shadow my-2 align-self-stretch" style="min-width: 65em; color: #305580;">
        <div class="card-body" style="text-align: center;">
            <h3 class="card-title"><strong>Step 4: Effettua il pagamento!</strong></h3>
            <p class="card-text" style="font-size: 24px;">
                Dopo aver prenotato puoi effettuare il pagamento.
            </p>
        </div>
    </card>


    @* --Freccia giù-- *@
    <i class="fa-solid fa-arrow-down d-flex justify-content-center" style="font-size: 3em;"></i>

    @*---------------------CARD LATERALE-----------------------*@

    <div>
        <card class="card shadow my-2 align-self-stretch" style="min-width: 65em; color: #305580;">
            <div class="card-body" style="text-align: center;">
                <h3 class="card-title"><strong>Step 5: Fine!</strong></h3>
                <p class="card-text" style="font-size: 24px;">
                    Dopo aver fatto tutti gli step precedenti puoi recarti in sede!
                </p>
            </div>
        </card>
    </div>
</div>