@{
    ViewData["Title"] = "Contatti";
}
<h1 id="Contatti" style="margin-top: 0.5em;">
    Contatti
</h1>
@* -------------- CARD CHE CONTIENE IMMAGINE E DESCRIZIONE -------------- *@
<div class="gap-5 d-flex justify-content-around">
    <div style="display: flex; flex-direction: column;">
        <card class="card shadow my-4 pt-3 align-self-stretch" style="padding: 0em; width: 30em;">
            <img src="~/img/ospedale2.png" style="margin: 0em 1em; border-radius: 4px;" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title"><strong>Sede Klinik Milano</strong></h5>
                <p style="margin-top: 1em;"></p>
                <p class="card-text">
                    Telefono: <strong>32456774645</strong>
                </p>
                <p>Email: <strong>mailMilano@mail.it</strong></p>
            </div>
        </card>
        <card class="card shadow my-4 pt-3 align-self-stretch" style="padding: 0em; width: 30em;">
            <img src="~/img/ospedale3.png" style="margin: 0em 1em; border-radius: 4px;" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title"><strong>Sede Klinik Torino</strong></h5>
                <p style="margin-top: 1em;"></p>
                <p class="card-text">
                    Telefono: <strong>36765894245</strong>
                </p>
                <p>Email: <strong>mailTorino@mail.it</strong></p>
            </div>
        </card>
    </div>

    <div style="display: flex; flex-direction: column;">
        <card class="card shadow my-4 pt-3 align-self-stretch" style="padding: 0em; width: 30em;">
            <img src="~/img/ospedale5.png" style="margin: 0em 1em; border-radius: 4px;" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title"><strong>Sede Klinik Ivrea</strong></h5>
                <p style="margin-top: 1em;"></p>
                <p class="card-text">
                    Telefono: <strong>3657687689</strong>
                </p>
                <p>Email: <strong>mailIvrea@mail.it</strong></p>
            </div>
        </card>
        <card class="card shadow my-4 pt-3 align-self-stretch" style="padding: 0em; width: 30em;">
            <img src="~/img/ospedale6.png" style="margin: 0em 1em; border-radius: 4px;" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title"><strong>Sede Klinik Leggiuno</strong></h5>
                <p style="margin-top: 1em;"></p>
                <p class="card-text">
                    Telefono: <strong>3657687689</strong>
                </p>
                <p>Email: <strong>mailLeggiuno@mail.it</strong></p>
            </div>
        </card>
    </div>
</div>
