@{
    ViewData["Title"] = "Cookies";
}
<div class="p-5">
<h1>@ViewData["Title"]</h1>
    <h5>
        La presente Cookie Policy è riferita esclusivamente al sito grupposandonato.it (“Sito”) e deve essere intesa come parte integrante della Privacy Policy del medesimo.
        Il titolare del trattamento dei dati personali è GSD – Sistemi e Servizi S.C. a R.L., con sede in Via Spadolini n. 4 - 20141 Milano (“GSDSS” o “Titolare”), email amministrazione.gsdss@grupposandonato.it.
        GSDSS ha nominato, inoltre, un responsabile per la protezione dei dati (“Data Protection Officer” o “DPO”), come previsto dal GDPR, con compiti di sorveglianza, vigilanza e consulenza specialistica in ambito privacy contattabile per eventuale supporto al seguente indirizzo di posta elettronica: rpd.gsdss@grupposandonato.it.
        Il Titolare tratta i dati personali nel rispetto dei principi di liceità, correttezza, trasparenza, limitazione delle finalità e della conservazione, minimizzazione dei dati, esattezza, integrità e riservatezza.
    </h5>
</div>
