@{
    ViewData["Title"] = "Dicono di noi";
}

<h1 id="DiconoDiNoi" style="margin: 0.5em 0em;">
    Dicono di noi
</h1>

<div class="gap-5 d-flex justify-content-around mb-4">
    @* -------- INIZIO Recensioni medici-----------*@
    <div class="card profile rounded-1">
        <div class="favorites">
            <div class="contacts d-flex align-items-center">
                <img class="avatar" src="~/img/medico1.jpg" />
                <div class="text_medico">
                    <b>Clara Drimaldi</b><br><span>Dottoressa in lavaggio mani, Chirurgia plastica e ginecologia</span>
                </div>
            </div>

        </div>

        <div class="conversations">
            <div class="titlebar">
                <h1>Recensioni</h1>
            </div>

            <div class="messageCard">
                <img class="avatar" src="~/img/recensione4.jpg" />
                <div class="text">
                    <b>Giuseppina Ghetti</b>
                    <br><span>Che dire... Clara è fantastica, gentile e solare con i suoi pazienti. Mi ha insegnato a lavarmi le mani. Un grazie sincero. </span>
                </div>
            </div>

            <div class="messageCard">
                <img class="avatar" src="~/img/recensione2.jpg" /> 
                <div class="text">
                    <b> Margherita Parodi </b>
                    <br><span>Oggi ho fatto un'analisi con la dottoressa, vorrei ringraziarla per la sua professionalità e per la cordialità dimostrata. 
                    </span>
                </div>
            </div>

            <div class="messageCard">
                <img class="avatar" src="~/img/recensione3.jpg" />
                <div class="text">
                    <b> Flavio Brovia </b>
                    <br><span>Un'esperienza eccellente: personale competente, tecnologia avanzata, ambiente accogliente. Raccomandato per cure impeccabili.</span>
                </div>
            </div>

        </div>
    </div>
    @* --------FINE Recensioni medici-----------*@

    @* -------------INIZIO recensioni sedi--------------- *@
    <div class="card profile rounded-1">
        <div class="favorites">
            <div class="contacts d-flex align-items-center">
                <img class="avatar" src="~/img/ospedale2.png" />
                <div class="text_medico">
                    <b>Sede Klinik Milano</b>
                    <br><span>Centro ospledaliero che si avvale delle terapie più innovative e la ricerca più avanzate.</span>
                </div>
            </div>

        </div>

        <div class="conversations">
            <div class="titlebar">
                <h1>Recensioni</h1>
            </div>

            <div class="messageCard">
                <img class="avatar" src="~/img/recensione6.png" />
                <div class="text">
                    <b>Ernesto Paladino</b>
                    <br><span>Un'esperienza sublime di cura e compassione, dove ogni bisogno è accolto con attenzione e professionalità.</span>
                </div>
            </div>

            <div class="messageCard">
                <img class="avatar" src="~/img/recensione1.jpg" />
                <div class="text">
                    <b>Teresa Branzino</b>
                    <br><span>Un ospedale pulito e dal personale preparato e gentile.</span>
                </div>
            </div>

            <div class="messageCard">
                <img class="avatar" src="~/img/recensione5.jpg" />
                <div class="text">
                    <b>Hans Zimmer</b>
                    <br><span>Senza ombra di dubbio il KLINIK è una delle eccellenze italiane per la radiologia. Struttura efficientissima in tutti i settori.</span>
                </div>
            </div>

        </div>
    </div>
    @* -------------FINE recensioni sedi--------------- *@
</div>

