@{
    ViewData["Title"] = "Dove siamo";
}

<div id="primaDiv" style="margin-top: 0.5em;">
    <h1>
        Dove siamo
    </h1>
    @* -------------- CARD CON MAPPA E DESCRIZIONE -------------- *@
    <div class="gap-5 d-flex justify-content-between">
        <div style="display: flex; flex-direction: column;">
            <card class="card shadow my-4 pt-3 align-self-stretch d-flex flex-row mb 3" style="padding: 1em; width: 35em;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1408.9324553185288!2d7.68199913874317!3d45.06825138711653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d6e376753bd%3A0xd6162f46fbac6d2a!2sP.za%20S.%20Carlo%2C%20141%2C%2010123%20Torino%20TO!5e0!3m2!1sit!2sit!4v1710321472027!5m2!1sit!2sit" width="280" height="240" style="border-radius: 6px;margin-right: 1em;border-radius: 3px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title"><strong>Centro Ospedaliero Klinik</strong></h5>
                    <p><strong>Sede di Torino</strong></p>
                    <p class="card-text">
                        P.za S. Carlo, 141, 10123 Torino TO
                    </p>
                </div>
            </card>

            <card class="card shadow my-4 pt-3 align-self-stretch d-flex flex-row mb 3" style="padding: 1em; width: 35em;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11190.280306730881!2d9.118550310701501!3d45.4784637828987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c1909e7fc017%3A0x54993b230b18a111!2sSan%20Siro%2C%20Milano%20MI!5e0!3m2!1sit!2sit!4v1709659896978!5m2!1sit!2sit" width="280" height="240" style="border-radius: 6px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title"><strong>Centro Ospedaliero Klinik</strong></h5>
                    <p><strong>Sede di Milano</strong></p>
                    <p class="card-text">
                        Piazzale Angelo Moratti, 20151 Milano MI
                    </p>
                </div>
            </card>
        </div>

        <div style="display: flex; flex-direction: column;">
            <card class="card shadow my-4 pt-3 align-self-stretch d-flex flex-row mb 3" style="padding: 1em; width: 35em;">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.0800553678287!2d7.870217675801192!3d45.468191233172995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478884c710c3ef9f%3A0x7622215430eef112!2sVia%20Circonvallazione%2C%2030%2C%2010015%20Ivrea%20TO!5e0!3m2!1sit!2sit!4v1710320765665!5m2!1sit!2sit" width="280" height="240" style="border-radius: 6px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title"><strong>Centro Medico Klinik</strong></h5>
                    <p><strong>Sede di Ivrea</strong></p>
                    <p class="card-text">
                        Via Circonvallazione, 30, 10015 Ivrea TO
                    </p>
                </div>
            </card>

            <card class="card shadow my-4 pt-3 align-self-stretch d-flex flex-row mb 3" style="padding: 1em; width: 35em;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2777.554314142736!2d8.598859975824753!3d45.88022570558539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47867625d91bc755%3A0x41de9059ab64f239!2sVia%20Brughieretta%2C%203-4%2C%2021038%20Leggiuno%20VA!5e0!3m2!1sit!2sit!4v1710321107448!5m2!1sit!2sit" width="280" height="240" style="border-radius: 6px; margin-right: 2em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title"><strong>Azienda Ospedaliera Klinik</strong></h5>
                    <p><strong>Sede di Leggiuno</strong></p>
                    <p class="card-text">
                        Via Brughieretta, 3-4, 21038 Leggiuno VA
                    </p>
                </div>
            </card>
        </div>
    </div>
</div>


