@{
    ViewData["Title"] = "Privacy policy";
}
<div class="p-5">
    <h1>@ViewData["Title"]</h1>
    <h5>
        Gentile Utente,
        nel corso della consultazione e dell’utilizzo del sito internet grupposandonato.it (di seguito, “Sito”) verranno raccolti e trattati alcuni dati personali, così come definiti dall’art. 4, par. 1 del Regolamento UE 2016/679 (di seguito, il “GDPR”) e dal Codice in materia di protezione dei dati personali (di seguito “Codice Privacy")
        Lo scopo della presente informativa (di seguito, la “Informativa”), fornita ai sensi dell’art. 13 GDPR, è quello di offrire una panoramica esaustiva sulle finalità, modalità di raccolta e utilizzo dei dati personali nonché sui tempi di conservazione dei dati di ciascun utente (di seguito, “Interessato” o, al plurale, “Interessati”).
        Ciascun Interessato è invitato a prendere visione della presente Informativa così da comprendere al meglio le modalità di trattamento dei propri dati personali nonché i propri diritti così come previsti dal GDPR.
    </h5>
</div>